<div class="col-xs=12 col-sm-4">
  <tr>
    <div class="card" url('<%= cl_image_path wineries_helper(winery) %>')>
      <div class="card-description">
        <h2 class="winery-name">
          <%= link_to winery.name, winery_path(winery) %>
        </h2>
          <p class="tours-available">
          <p>Can I tour the winery? <%= winery.tours %></p>
          </p>
          <p>
            Open at: <%= winery.open_hours %>
          </p>
          <p>
            Closes at: <%= winery.close_time %>
          </p>
          <p>
            Price Range : budget, good, luxury
          </p>
          <p>
          <%= link_to "More details", winery_path(winery) %>
          <%= link_to "Remove Winery", winery_path(winery), method: :delete %>
          </p>
        </h3>
      </div>
    </div>
  </tr>
</div>

