<%= content_for(:title) do %>
  Cheers Valley - <%= @winery.name %>
<% end %>

<h2><%= @winery.name %></h2>
<p><%= @winery.tours %></p>
<p><%= @winery.address %></p>

<%= link_to "Back to all wineries", wineries_path %>



